<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style.css">
    <title>mail</title>
</head>
<body>
    <form method="POST">
        <h1>Mail</h1>
        <input type="text" name="email" placeholder="to">
        <input type="text" name="sub" placeholder="sub" required>
        <textarea type="text" name="msg" placeholder="msg" required></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>